/InterfaceGrafica/nbproject/private/
/InterfaceGrafica/build/
/SistemaNovaTec/nbproject/private/
/SistemaNovaTec/build/
/ProjetoNovaTec/nbproject/private/
/ProjetoNovaTec/build/
/SistemaBox10/nbproject/private/
/SistemaBox10/build/
